In [1]:
def square(num):
    return num**2;

In [2]:
my_nums=[1,2,3,4,5]

In [4]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [7]:
names = ['Andy', 'Eve', 'Sally']

In [8]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [9]:
def check_even(num):
    return num % 2 == 0

In [10]:
my_nums = [1,2,3,4,5,6]

In [11]:
list(filter(check_even, my_nums))

[2, 4, 6]

In [20]:
square = lambda num: num**2

In [21]:
square(3)

9

In [22]:
list(map(lambda num: num**2, [1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [23]:
list(filter(lambda num: num%2==0, [1,2,3,4,5,6]))

[2, 4, 6]

In [25]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']