In [1]:
mystring = 'hello'

In [2]:
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x*2 for x in 'word']

In [7]:
mylist

['ww', 'oo', 'rr', 'dd']

In [10]:
mylist = [num ** 2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [14]:
celsius =[0,10,20,34.5]
fahrenheit=[((9/5)*temp+32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [15]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [17]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [19]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]